:root {
    font-size: 16px;
    color: navy;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    height: 100vh;
    background: rgb(186, 202, 217);
	background: linear-gradient(270deg, rgba(186, 202, 217, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(186, 202, 217, 1) 100%);
    padding-top: 30vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(./img/img1.jpg);
    background-size: cover;
    background-position: top;
    height: 30vh;
    max-height: 50%;

}

h1 {
    padding: 7%;
    text-align: left;
    font-size: 3rem;
}

section {
    margin: 3%;
}

section img {
    object-fit: cover;
    border-radius: 5%;
    height: 20vh;
    width: auto;
}

section li {
    margin-top: 1%;
}

footer {
    background-color: rgb(34, 34, 109);
    padding: 2rem 10%;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    align-items: center;
    color: white;
}

footer img {
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}